* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: white;
  color: #d11a2a;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  text-align: center;
  padding: 30px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.input {
  padding: 12px;
  border: 1px solid #d11a2a;
  border-radius: 8px;
  margin-bottom: 20px;
}

.button {
  padding: 12px 24px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 10px;
  transition: 0.3s;
}

.red {
  background: #d11a2a;
  color: white;
}

.white {
  background: white;
  color: #d11a2a;
  border: 1px solid #d11a2a;
}

.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.question {
  font-size: 22px;
  margin-bottom: 30px;
}

.wishes {
  max-height: 300px;
  overflow-y: auto;
  margin-top: 20px;
}

.wish-card {
  background: #ffe5e8;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}